@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #e67e5c;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: black;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background-color: #f7ede2;

  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.entradas{
    background-color: #f9f3ed;
    width: 80%;
    height: 45px;
    border: 1px solid #d4bfa7;
    border-radius: 8px;
    color: #333;
    margin-bottom: 16px;
  }
  .entradas:hover{
    background-color: #f1e6dd;
  }
  .boton {
    background-color: #e67e5c;
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    width: 40%;
    height: 45px;
  }
  .boton:hover {
    background-color: #cc6f52;
  }
  label{
    display: block;
  }
